/**************************/
/* BELOW 950px */
/**************************/

@media (max-width: 60em) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}

/**************************/
/* BELOW 800px */
/**************************/

@media (max-width: 50em) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

/**************************/
/* BELOW 640px */
/**************************/

@media (max-width: 40em) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}